@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 960px;
    height: 1080px;
    background: transparent url('../RegistrationPage/img/Mask Group 43.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

section .imgBx .contentImgBx .pLogo {
    display: inline-block;
    margin: 90px 679px 114px 90px;
    width: 191px;
    height: 60px;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 1;
    color: #FFFFFF;
}

section .imgBx .contentImgBx .pLogo::first-letter {
    color: #E2222D;
}

section .imgBx .contentImgBx .h1Text {
    display: inline-block;
    width: 268px;
    height: 33px;
    margin: 0px 602px 25px 90px;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
}

section .imgBx .contentImgBx .mainText {
    display: inline-block;
    width: 732px;
    height: 79px;
    margin: 0px 138px 679px 90px;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
}

section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx {
    width: 50%;
}

section .contentBx .formBx h2 {
    color: #8D8DA5;
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 36px;
    width: 146px;
    height: 51px;
    opacity: 1;
    display: inline-block;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
    color: #181C32;
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #DBDFEB;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 10px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background: #E2222D;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-weight: 200;
    cursor: pointer;
    width: 164px;
    height: 50px;
}

@media (max-width: 768px) {
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}